# Sequence Type – Part 1
Aku diberikan tugas untuk menerapkan variasi tipe data list dengan mengikuti petunjuk yang diberikan Senja. Berikut petunjuknya:
<ol>
<li>Petunjuk 1: Input data 1, 'dua', 3, 4.0, 5 ke dalam contoh_list</li>
<li>Petunjuk 2: Ambil Elemen pertama dari contoh_list untuk menampilkan output 1 menggunakan print statement</li>
<li>Petunjuk 3: Ambil Elemen ke empat dari contoh_list untuk menampilkan output 4.0 menggunakan print statement</li>
<li>Petunjuk 4: Input data 1, 'dua', 3, 4.0, 5 ke dalam contoh_list</li>
<li>Petunjuk 5: Rubah Elemen keempat dalam contoh_list menjadi 'empat'</li>
<li>Petunjuk 6: Tampilkan output elemen keempat yang telah dirubah tersebut menggunakan print statement</li>
</ol>

In [1]:
contoh_list = [1,'dua',3,4.0,5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1,'dua',3,4.0,5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

# Sequence Type – Part 2
Sekarang aku diberikan tugas untuk menerapkan variasi tipe data tuple dengan mengikuti petunjuk yang diberikan Senja:
<ol>
<li>Petunjuk 1: Input data Januari sampai dengan April ke dalam contoh_tuple</li>
<li>Petunjuk 2: Ambil Elemen pertama dari contoh_tuple untuk menampilkan output 1 menggunakan print statement</li>
<li>Petunjuk 3: Input kembali data Januari sampai dengan April ke dalam contoh_tuple</li>
<li>Petunjuk 4: Rubah Elemen pertama dalam contoh_tuple menjadi 'Desember'</li>
</ol>

In [2]:
contoh_tuple = ('Januari','Februari','Maret','April')
print(contoh_tuple[0])
contoh_tuple = ('Januari','Februari','Maret','April')
contoh_tuple[0] = 'Desember'

Januari

TypeError: 'tuple' object does not support item assignment

# Set Type
Sekarang aku diberikan tugas untuk menerapkan variasi set dan frozenset oleh Senja:<br/>
<ol>
<li>Tugas 1:Input data Dewi, Budi, Cici, Linda, Cici kedalam tipe data list dan tampilkan hasilnya</li>
<li>Tugas 2: Input data Dewi, Budi, Cici, Linda, Cici kedalam tipe data set dan tampilkan hasilnya</li>
<li>Tugas 3: Input data Dewi, Budi, Cici, Linda, Cici kedalam tipe data frozenset dan tampilkan hasilnya</li>

In [4]:
contoh_list = ['Dewi','Budi','Cici','Linda','Cici']
print(contoh_list)
contoh_set = {'Dewi','Budi','Cici','Linda','Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi','Budi','Cici','Linda','Cici'})
print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Cici', 'Linda', 'Budi', 'Dewi'}
{'Cici', 'Linda', 'Budi', 'Dewi'}

# Mapping Type
Menggunakan tipe data mapping, aku diminta Senja untuk menampilkan nama & pekerjaan John Doe, seorang Programmer.

In [5]:
person = {'nama': 'John Doe','pekerjaan': 'Programmer'}
print(person['nama'])
print(person['pekerjaan'])

John Doe
Programmer

# Tugas Praktek 1
Ternyata seru juga! Aku jadi berniat mengembangkan program kalkulator potongan harga ini untuk beberapa barang sekaligus agar lebih fungsional. Kalau begitu, aku perlu rapikan dulu informasi setiap barang di tabel ini.
<br/>
“Lalu, aku tinggal merepresentasikan semuanya ke tipe data dictionary, dengan begitu akan lebih mudah mengolahnya,” gumamku.
Aku pun mulai mendeklarasikan variabel sepatu, baju, dan celana untuk menampung informasi barang ke dalam live code editor.

| Nama Barang | Harga | Diskon |
|-------------|-------|--------|
| Sepatu Niko | 150000| 30000  |
| Baju Unikloh| 80000 | 8000   |
| Celana Lepis| 200000| 60000  |

In [6]:
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000}
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000}
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}

# Tugas Praktek 2
Setelah berhasil merepresentasikan setiap barang ke dalam tipe data dictionary dengan variabel nama, harga, dan diskon, langkahku selanjutnya adalah: mendeklarasikan list dengan nama daftar_belanja yang berisi data sepatu, baju, dan celana.

In [7]:
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000} 
daftar_belanja = [sepatu, baju, celana]

# Tugas Praktek 3
Dengan data yang aku miliki, aku bisa menghitung total harga jual dengan potongan harga beserta pajak sebesar 10% dari nilai jual.
<br/>
Untungnya Senja memberikan beberapa tips untuk menyelesaikan tugas ini:
<br/><ol>
<li>Tips 1. # Data yang dinyatakan ke dalam dictionary</li>
<li>Tips 2. # Hitung harga masing-masing data setelah dikurangi diskon</li>
<li>Tips 3. # Hitung harga total</li>
<li>Tips 4. # Hitung harga kena pajak</li>
<li>Tips 5. # Cetak total_harga + total_pajak</li>

In [8]:
# Data yang dinyatakan ke dalam dictionary
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}
# Hitunglah harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"] 
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# Hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana
# Hitung harga kena pajak
total_pajak = total_harga * 0.1
# Cetak total_harga + total_pajak
print(total_harga + total_pajak)

365200.0