# Apa itu Functions?
Function adalah sebuah blok statemen yang hanya akan dijalankan saat ia dipanggil. Secara tidak sadar, selama proses belajar ini, aku telah mencoba menggunakan fungsi-fungsi dalam bahasa pemrograman Python.

Fungsi <mark>len()</mark> untuk mengukur jumlah elemen dalam sebuah list dan fungsi <mark>print()</mark> untuk menampilkan pesan pada layar konsol merupakan contoh dari bentuk fungsi yang telah disediakan oleh bahasa pemrograman Python, atau dengan kata lain built-in functions.

Selain fungsi yang telah disediakan oleh Python, Python mengizinkan aku untuk mendeklarasikan fungsi dalam kode yang aku tuliskan yang dikenal dengan user defined function.
```python
def nama_fungsi(argument):
    statement_1
    …
    statement_n
    return returned_value
```
Aku menuliskan dalam catatanku:<ul>
<li><b>nama_fungsi</b> adalah nama untuk fungsi yang kita definisikan, memiliki aturan seperti penamaan variabel</li>
<li><b>argument</b> adalah variabel masukan ke fungsi, bisa tanpa variabel, satu variabel atau lebih</li>
<li><b>statement_1 … statement_n</b> adalah algoritma yang telah kita transfer dalam bahasa Python. Ini merupakan inti dari fungsi yang kita definisikan. Seluruh statement adalah menjorok (indent) ke dalam seperti yang pernah dipelajari pada conditioning dan looping</li>
<li><b>return_value</b> adalah variabel output dari fungsi kita. Bisa tanpa variabel, satu variabel, atau lebih.</li>
</ul>

# Fungsi Pertama
<mark>contoh_fungsi</mark> merupakan nama dari fungsi yang aku deklarasikan dan statemen-statemen di dalamnya disebut sebagai isi (body) dari fungsi.

## Tugas:
Untuk menjalankan fungsi yang telah aku deklarasikan, aku dapat menuliskan potongan kode berikut dengan mengetiknya pada live code editor pada baris berikutnya. Pemanggilan fungsi contoh_fungsi() akan menghasil output:

In [1]:
# Definisikan fungsi
def contoh_fungsi():
    print("Halo Dunia")
    print("Aku sedang belajar bahasa Python")
# Panggil fungsi yang telah didefinisikan
contoh_fungsi()

Halo Dunia
Aku sedang belajar bahasa Python

# Fungsi Kedua
Sebuah fungsi dapat menerima serangkaian argumen pada bagian dalam kurung setelah nama fungsi telah aku definisikan.
<br/>
<mark>fungsi_dengan_argumen</mark> membutuhkan dua argumen (<mark>nama_depan</mark>, <mark>nama_belakang</mark>).
Python akan menjalankan sebuah fungsi hanya ketika aku telah mensuplai jumlah argumen yang sesuai saat fungsi didefinisikan.

## Tugas:
Ketik potongan kode berikut pada live code editor.

In [2]:
# Definsikan fungsi 
def fungsi_dengan_argumen(nama_depan, nama_belakang):
    print(nama_depan+" "+nama_belakang)
# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John","Doe")

John Doe

# Fungsi Ketiga
Saat aku melakukan pemanggilan fungsi dengan jumlah argumen yang tidak sesuai, Python akan mengembalikan pesan error yang menyatakan bahwa terdapat argumen yang belum disuplai agar fungsi dapat dijalankan dengan baik.
<br/>
Berikut ini adalah contoh pesan error yang akan dikembalikan oleh Python saat aku hanya menyuplai satu argumen saja untuk <mark>fungsi_dengan_argumen</mark>:
> Type Error: function fungsi_dengan_argumen() missing 1 required positional argument: nama_belakang
<br/>

Bahasa Python mengizinkan aku untuk memberikan suatu nilai default terkait dengan sebuah argumen dalam sebuah fungsi. Melalui fitur ini, suatu argumen dalam sebuah fungsi akan bersifat opsional.
<br/>

## Tugas 1:
Aku mencoba mengetik potongan kode berikut dengan live code editor:

In [3]:
# Definsikan fungsi dengan nilai default argument kedua adalah "".
def fungsi_dengan_argumen(nama_depan, nama_belakang = ""):
	print(nama_depan+" "+nama_belakang)

Argumen <mark>nama_belakang</mark> menjadi bersifat opsional saat fungsi dipanggil. Jika argumen kedua tidak disuplai Python, akan secara otomatis menset argumen <mark>nama_belakang</mark> menjadi string kosong - empty string (<mark>""</mark>).
<br/>

## Tugas 2:
Aku mencoba mengetik potongan kode berikut dengan live code editor:

In [4]:
# Panggil fungsi dengan memasukkan argumen nama_depan "John"
fungsi_dengan_argumen("John")

John

Potongan kode berhasil dijalankan dan mengasilkan output: <mark>John</mark>
<br/>

## Tugas 3:
Aku mencoba mengetik potongan kode berikut dengan live code editor:

In [5]:
# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John", "Doe")

John Doe

Potongan kode berhasil dijalankan dan mengasilkan output: <mark>John Doe</mark>
<br/><br/>

Full answers are written here bellow

In [6]:
# Definsikan fungsi dengan nilai default argument kedua adalah "".
def fungsi_dengan_argumen(nama_depan, nama_belakang = ""):
	print(nama_depan+" "+nama_belakang)
# Panggil fungsi dengan memasukkan argumen nama_depan "John"
fungsi_dengan_argumen("John")
# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John", "Doe")

John
John Doe

# Tugas Praktek
Tepat ketika aku baru menyelesaikan latihan tadi, aku mendapat pesan masuk di email. Dari Senja.

## Tugas: 
Aksara, pekerjaan terakhirmu baru bisa saya review sore nanti. Saat ini, kita sedang butuh bantuanmu untuk menentukan nilai rata-rata untuk data yang sudah saya buatkan dalam bentuk list of numeric bertipe int/float berikut ini. Tolong kirimkan hasilnya sebelum jam 3 siang. Terima kasih.

> data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]

dan

> data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]

<br/>
<br/>

Aku pun melirik jam dinding kantor. Masih ada satu setengah jam sebelum deadline. Harus segera dikebut!<br/>

Aku langsung menulis kode dari data-data yang dikirimkan Senja tadi:

In [7]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]
# Definisikan fungsi hitng_rata_rata
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Hitung nilai rata-rata dari kedua data yang dimiliki
print('Rata-rata data1:')
print(hitung_rata_rata(data1))
print('Rata-rata data2:')
print(hitung_rata_rata(data2))

Rata-rata data1:
105.0
Rata-rata data2:
73.0

# Tugas Praktek
Sudah setengah jam sejak kukirimkan hasil susunan kodeku pada Senja, ia segera membalas pesanku. Untungnya bukan revisi! Aku lebih suka dapat tambahan pekerjaan dibanding merevisi pekerjaan lama.

## Tugas:
Aksara, yang kamu buat sudah cukup. Tolong buat satu fungsi untuk menghitung standar deviasi data dari data yang sudah saya berikan tadi (data dalam list of numeric bertipe int atau float).

> data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]

dan

> data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]

<br/><br/>
Baiklah, mari kuselesaikan tantangan ini. Kubuka kembali layar susunan kodeku tadi, dan mulai mengutak-atiknya. Kuingat kembali definisi matematis dari perhitungan standar deviasi, yaitu

<img src="">

In [8]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]
# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Definisikan fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
    varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi
# Hitung nilai standar deviasi dari kedua data yang dimiliki
print('Standar deviasi data1:')
print(hitung_standar_deviasi(data1))
print('Standar deviasi data2:')
print(hitung_standar_deviasi(data2))

Standar deviasi data1:
28.722813232690143
Standar deviasi data2:
17.916472867168917

# Tugas Praktek
“Aksara, hasil kerjamu dapat pujian di rapat tadi. Terima kasih ya sudah membantu!” ujar Senja yang menghampiri mejaku setelah keluar dari ruang rapat.
<br/>
Aku mengangguk. Mungkin program tadi sederhana saja, tapi bisa bermanfaat bagi yang membutuhkannya sangat membahagiakan buatku.
<br/>
“Oh ya, Aksara sebelum kamu pulang bisa tolong buatkan fungsi baru lagi? Kali ini untuk menentukan nilai-rata dan standar deviasi dari data di tabel. Nanti aku kasih data di tabelnya ya.” Senja langsung menarik bangku ke sebelahku dan membuka laptop.
<br/>
Ia menunjukkan data di tabelnya seperti ini:

| Luas Tanah (dalam m2) | Luas Bangunan (dalam m2) | Jarak ke Pusat Kota (dalam km) | Harga (dalam ratus juta) |
|-----------------------|--------------------------|--------------------------------|--------------------------|
| 70                    | 50                       | 15                             | 500                      |
| 70                    | 60                       | 30                             | 400                      |
| 70                    | 60                       | 55                             | 300                      |
| 100                   | 50                       | 30                             | 700                      |
| 100                   | 70                       | 25                             | 1000                     |
| 100                   | 70                       | 50                             | 650                      |
| 120                   | 100                      | 20                             | 2000                     |
| 120                   | 80                       | 50                             | 1200                     |
| 150                   | 100                      | 50                             | 1800                     |
| 150                   | 90                       | 15                             | 3000                     |

## Tugas:
Dari data ini, berarti aku harus menjalankan fungsi baru dengan nama variabel deksripsi_properti. Aku pun mengangkat jempol pada Senja seakan bilang, "Serahkan padaku!"
<br/><br/>
Setelah kupelajari kembali, data ini sebenarnya telah direpresentasikan ke dalam dict dengan nama tabel_properti. Kalau begitu, aku bisa mulai kodeku seperti berikut ini.

In [10]:
# Data properti
tabel_properti = {
'luas_tanah': [70, 70, 70, 100, 100, 100, 120, 120, 150, 150],
'luas_bangunan': [50, 60, 60, 50, 70, 70, 100, 80, 100, 90],
'jarak': [15, 30, 55, 30, 25, 50, 20, 50, 50, 15],
'harga': [500, 400, 300, 700, 1000, 650, 2000, 1200, 1800, 3000]
}
# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
        varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi
# Definisikan fungsi untuk menghitung rata-rata dan standar deviasi
# setiap kolom pada tabel_properti yang diberikan oleh key dict.
def deskripsi_properti(tabel):
    for key in tabel.keys():
        print('Rata-rata ' + key + ':')
        print(hitung_rata_rata(tabel[key])) 
        print('Standar deviasi ' + key + ':')
        print(hitung_standar_deviasi(tabel[key]))
        print('')
# Panggil fungsi deskripsi_properti untuk menghitung rata-rata 
# dan standar deviasi setiap kolom pada tabel_properti
deskripsi_properti(tabel_properti)

Rata-rata luas_tanah:
105.0
Standar deviasi luas_tanah:
14.93311056335886

Rata-rata luas_bangunan:
73.0
Standar deviasi luas_bangunan:
6.025948374480153

Rata-rata jarak:
34.0
Standar deviasi jarak:
6.24005184770928

Rata-rata harga:
1155.0
Standar deviasi harga:
587.0594351517378